openapi: 3.2.0
info:
  title: Steadfast Flood Risk Tracker Address API
  version: '1.0'
  summary: Anonymous Australian address lookup and Swiss Re natural-catastrophe flood risk scoring.
  description: The read-only JSON API behind Steadfast Group's public Flood Risk Tracker web tool (https://floodrisktracker.steadfast.com.au/).
  contact:
    name: Steadfast Group Limited
    url: https://www.steadfast.com.au/contact-us/
  x-apievangelist-provenance:
    method: derived
    derived_from:
    - https://floodrisktracker.steadfast.com.au/Scripts/FloodRiskTracker/custom.js
    - live anonymous probes of both operations on 2026-07-25
    published_by_provider: false
    supported_contract: false
servers:
- url: https://floodrisktracker.steadfast.com.au
  description: Production host for the public Flood Risk Tracker web tool and its JSON API.
tags:
- name: Address
  description: Australian address resolution against G-NAF identifiers.
paths:
  /api/risk/find_address:
    get:
      operationId: findAddress
      tags:
      - Address
      summary: Search Australian addresses
      description: Resolves a free-text address fragment to a list of candidate Australian addresses, each carrying the G-NAF identifier required by `getFloodRisk`. Observed to return an empty array for addresses outside Australia (a New Zealand query returned `[]`), and to return more candidates than the tool's UI displays - the client slices the first five. Observed `latitude` and `longitude` were `null` on every candidate returned.
      parameters:
      - name: searchText
        in: query
        required: true
        description: Free-text Australian address fragment, e.g. `1 Market Street`.
        schema:
          type: string
          minLength: 1
        example: 1 Market Street
      responses:
        '200':
          description: Candidate addresses. An empty array means no match was found.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddressCandidate'
              examples:
                observed:
                  summary: Observed response for `searchText=1 Market Street` (truncated to two of five)
                  value:
                  - id: AU|GNAF|GASA_422065999
                    fullAddress: 1 MARKET STREET, BURRA SA 5417
                    latitude: null
                    longitude: null
                  - id: AU|GNAF|GAVIC423795616
                    fullAddress: 1 MARKET STREET, NEWPORT VIC 3015
                    latitude: null
                    longitude: null
                noMatch:
                  summary: Observed response for a non-Australian address
                  value: []
        '400':
          $ref: '#/components/responses/ValidationProblem'
components:
  schemas:
    AddressCandidate:
      type: object
      title: AddressCandidate
      description: A candidate Australian address resolved from free text.
      properties:
        id:
          type: string
          description: Pipe-delimited address identifier. Observed form `AU|GNAF|<G-NAF PID>` - country code, address dataset (G-NAF, the Geocoded National Address File), and the persistent identifier. This value is the `addressId` input to `getFloodRisk`.
          examples:
          - AU|GNAF|GANSW705226154
        fullAddress:
          type: string
          description: Upper-case formatted address including state and postcode.
          examples:
          - 1 MOLESWORTH STREET, LISMORE NSW 2480
        latitude:
          type:
          - number
          - 'null'
          description: Observed `null` on every candidate returned; the tool geocodes client-side via Google Maps instead.
        longitude:
          type:
          - number
          - 'null'
          description: Observed `null` on every candidate returned.
      required:
      - id
      - fullAddress
    ValidationProblemDetails:
      type: object
      title: ValidationProblemDetails
      description: RFC 9457 problem details as emitted by ASP.NET Core model validation.
      properties:
        type:
          type: string
          format: uri
          description: Problem type URI. Observed as an RFC 9110 status-code section link.
        title:
          type: string
        status:
          type: integer
        errors:
          type: object
          description: Map of parameter name to an array of validation messages.
          additionalProperties:
            type: array
            items:
              type: string
        traceId:
          type: string
          description: W3C Trace Context `traceparent` value for the failed request.
      required:
      - type
      - title
      - status
  responses:
    ValidationProblem:
      description: The required query parameter was missing. Returned as RFC 9457 problem details (ASP.NET Core `ValidationProblemDetails`).
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ValidationProblemDetails'
          examples:
            observed:
              summary: Observed response when `addressId` is omitted
              value:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                errors:
                  addressId:
                  - The addressId field is required.
                traceId: 00-ce51a3cb1302ff41a4b7b151de452c73-495f67f482a4fb3a-00
